/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: 
/***********/

body {
    margin-right: 80em;
    margin-left: 4em;
    margin-top: 5em;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    background-color: aquamarine;
    border-radius: 0.5em;
    padding: 1em;
    width: 17.5em;
    height: 20em;
}
  
  
input[type=text] {
    grid-column: span 5;
    margin-bottom: 1em;
    margin-top: 1em;
}
  
input[type=button][value="+"] {
    grid-column: 4;
    grid-row: 4;
    grid-row: span 2;
}